.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* Nav bar styles */

*{
    margin: 0;
    padding: 0;
}  
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
}
/* .nav-title{
    margin-left: 160px;
} */
.btn-nav{
    width: 116px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid rgba(0, 106, 80, 1);
    font-size: 18px;
    color: rgba(0, 106, 80, 1);
    cursor: pointer;
}
.btn-nav:hover{
  background-color: rgb(146, 241, 146);
  color: black;
}
.body-margin{
    margin-left: 160px;
    margin-right: 160px;
    background-color: rgba(255, 255, 255, 1);
}
/* Shared */

.btn{
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn:hover{
  background-color: rgb(245, 61, 61);
  color: black;
}

body{
    background-color: rgba(241, 241, 243, 1);
}

/* baner section */
.txt{
    width: 47%;
    height: 326px;
    margin: 117px 0 117px 60px;

}  
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 560px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    border: none;
    margin-top: 20px;
    margin-bottom: 80px;
}
.shahid-minar{
    width: 474px;
    height: 400px;
    margin-top: 80px;
    margin-right: 60px;
}
.subtitle{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.title{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}

/* Card section */
.title-sec2{
    font-size: 40px;
    font-weight: bold;
}
.topic{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.norm{
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
}
.card{
    width: 23.5%;
    height: 255px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
}
.card4{
  width: 23.5%;
  height: 255px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  margin-right: -24px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:24px;
    margin-top: 32px;
    margin-bottom: 80px;
}
.crd-img{
    margin: 24px 214px 24px 24px;
}
.crd-txt{
    margin: 0 24px 24px 24px;
}

/* vision future section */
.title-future{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 24px;
}
.dr-para{
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.dr-para2{
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.6);
    margin-bottom: 4px;
}
.dr-title{
    font-size: 20px;
    line-height: 24px;
}
.future-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.future-card1{
    width: 33%;
    height: 325px;
    border: none;
    border-radius: 16px;
    padding-top: 32px;
    padding-left: 32px; 
    background-color: rgba(84, 144, 245, 0.2);   
}
.future-card2{
    width: 33%;
    height: 325px;
    border: none;
    border-radius: 16px;
    padding-top: 32px;
    padding-left: 32px;   
    background-color: rgba(198, 228, 214, 1);
}
.future-card3{
    width: 33%;
    height: 325px;
    border: none;
    border-radius: 16px;
    padding-top: 32px;
    padding-left: 32px; 
    background-color: rgba(247, 235, 207, 1); 
    margin-right: -24px; 
}
.fu-img{
    padding-bottom: 24px;
}
.dr-topic{
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}
sub{
    margin-top: 24px;
}
.btn-card1{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 24px;
    cursor: pointer;
}
.btn-card1:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
.btn-card2{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 48px;
    cursor: pointer;
}
.btn-card2:hover{
  background-color: aquamarine;
  color: black;
}
.btn-card3{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 34px;
    cursor: pointer;
}
.btn-card3:hover{
  background-color: lightgreen;
  color: black;
}
.dr-txt{
    width: 95%;
    height: 150px;
    margin-top: 25px;
    font-size: 16px;
}
.sub{
    padding-bottom: 32px;
}
.statement{
  width: 100%;
  height: 246px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 25px;
  padding-left: 24px;
  background-origin: content-box;
  margin-bottom: 80px;
}

/* Table section */
table, td, tr{
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-collapse: collapse;
}

.topic-column{
  height: 92px;
  width: 1017px;
  font-size: 16px;
  padding-left: 24px;
}
.header-column{
  height: 92px;
  width: 1017px;
}
.ans-column{
  width: 200px;
  height: 92px;
  text-align: center;
}
.borderless{
  border-left: none;
}
.header-container{
  background-color: rgba(198, 228, 214, 1);
}
.ques{
  font-size: 20px;
}
/* Dropdown menue */
.select{
  width: 57%;
  height: 44px;
  border: 1px solid rgba(14, 14, 14, 1);
  background-color: rgba(198, 228, 214, 1);
  border-radius: 4px;
  font-size: 16px;
}
.table-title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.opinion{
  margin-bottom: 80px;
}

/* News part */
.news1-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 402px;
  margin-bottom: 24px;
  /* align-items:normal; */
  /* text-align:justify; */
}
.news-text-1{
  width: 744px;
  height: 290px;
  margin: 56px 48px 56px 32px;
}
.pic{
  align-items: center;
  margin: 48px 32px 48px 48px;
  border-radius: 24px;
  width: 408px;
  height: 306px;
}
.news-title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.news-para{
  font-size: 16px;
  font-weight: normal;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.news1-title{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}
.al{
  width: 134px;
  height: 40px;
  margin-bottom: 12px;
}
.news1-time{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.7);
}
.news1-sub{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.7);
}
.btn-news{
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  width: 139px;
  height: 48px;
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn-news:hover{
  background-color: greenyellow;
  color: black;
}
.news2-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
}
/* .news2-title{
  margin: ;
} */
.news2-text{
  margin: 56px 32px 56px 48px;
}
.pic2{
  align-items: center;
  margin: 48px 48px 48px 32px;
  border-radius: 24px;
  width: 408px;
  height: 306px;
}
/* Donation page */
.txt-donation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.donation-font{
  font-size: 40px;
  font-weight: bold;
}
.donate-card{
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  cursor: pointer;
}
.donate-card:hover{
  background-color: midnightblue;
  color: aqua;
}
.donation-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:24px;
  margin-bottom: 32px;
}
.donation-container{
  margin-top: 56px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 80px;
}
.donatation-form{
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: rgba(255, 255, 255, 1);
  border-left: none;
  border-top: none;
  border-right: none;
}
.placeholder-font{
  font-size: 20px;
  font-weight: normal;
}
.submit1{
  padding: 17px 34px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  border: none;
  margin-top: 32px;
  cursor: pointer;
}
.submit1:hover{
  background-color: green;
  color: red;
}
.sub-dona{

  align-items: center;
  text-align: center;
}
.back{
  background-color: rgba(198, 228, 214, 1);
}

/* News Letter section */
.letter{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 80px;
}
.letter-sub{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.letter-container{
  background-color: rgba(198, 228, 214, 1);
  width: 1250px;
  height: 395px;
  align-items: center;
  text-align: center;
  border-radius: 24px;
  margin-bottom: 80px;
}
.inputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}
.email{
  width: 750px;
  height: 55px;
  border: none;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  padding-left: 40px;
}

.subscribe{
  width: 150px;
  height: 55px;
  border: none;
  background-color: rgba(0, 106, 80, 1);
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.subscribe:hover{
  background-color:  black;
  color:  white;
}
.text-letter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
/* footer section */
.list{
  list-style: none;
}
.foot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 23px;
  margin-top:32px;
  margin-bottom: 50px;
}
.last-h{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}
.hr{
  width: 1122px;
  color: rgba(14, 14, 14, 0.1);
}